$colors: (
  "primary": green,
  "secondary": #ac366a,
  "background": #f7f6f9,
  "border": #707070,
  "white": #ffffff,
  "black": #222831,
);

$shadows: (
  "light": 0px 4px 15px rgba(0, 0, 0, 0.1),
  "dark": 0px 4px 6px rgba(0, 0, 0, 0.3),
);
